 <h1>Admin Dashboard</h1>
<button (click)="onAddCourseClick()">Add Course</button>

<div *ngIf="courses.length > 0">
  <h2>Courses</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Category</th>
        <th>Enrolled Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.courseName }}</td>
        <td>{{ course.category }}</td>
        <td>{{ course.enrolledDate }}</td>
        <td>{{ course.description }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="enrolled.length > 0">
  <h2>Enrollments</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Course</th>
        <th>User email</th>
        <th>Status</th>
        <th>Progress</th>
        <th>Completion Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enrolls of enrolled">
        <td>{{ enrolls.course.courseName }}</td>
        <td>{{ enrolls.user.email}}</td>
        <td>{{ enrolls.status }}</td>
        <td>{{ enrolls.progress }}%</td>
        <td>{{ enrolls.startDate }}</td>
        <td>{{ enrolls.completionDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
