<h1>Admin Dashboard</h1>
<button (click)="onAddCourseClick()">Add Course</button>

<div *ngIf="courses.length > 0">
  <h2>Courses</h2>
  <div *ngFor="let course of courses">
    <div class="course-card">
      <h3>{{ course.courseName }}</h3>

      <p>{{course.description}}</p>

    </div>
  </div>

  <!-- <div *ngIf="enrolled.length > 0"> -->
    <h2>Enrollments</h2>
    <div *ngFor="let enrolls of enrolled">
      <div class="course-card">
        <h3>{{ enrolls.user.email}}</h3>
  
        <p>{{enrolls.status}}</p>
  
      </div>
    <!-- </div> -->
 </div>
