<div class="admin-container">
    <!-- Toggle Button (☰) only for mobile, placed below navbar -->
  <button class="toggle-button" (click)="toggleSidebar()" *ngIf="isMobile">☰</button>

  <!-- Sidebar -->
  <aside class="sidebar" [ngClass]="{ 'collapsed': isCollapsed, 'show': isCollapsed && isMobile }">
    <ul>
      <li><a (click)="navigateTo('course-management')" routerLink="course-management">Course Management</a></li>
      <li><a (click)="navigateTo('progress-management')" routerLink="progress-management">Progress Tracking</a></li>
      <li><a (click)="navigateTo('feedback-management')" routerLink="feedback-management">Feedback Management</a></li>
    </ul>
  </aside>
  
  <div class="admin-header">
    <button (click)="logout()" class="logout-button">Logout</button>
  </div>
  

  <!-- Main Content Area -->
  <div class="main-content">
        <router-outlet></router-outlet> 
    
  </div>
</div>
