.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2f3640;
  padding: 20px;
  color: white;
  position: sticky;
  height: 90.9vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar ul li:hover {
  background-color: #3d3d3d;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
}
