
<nav class="bg-white shadow-md sticky top-0 z-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center">
          <a href="#" class="text-3xl font-extrabold text-indigo-600 tracking-tight hover:text-indigo-800 transition duration-300 ease-in-out">
            USTLms
          </a>
        </div>
       
        
        <!-- Desktop Menu Items -->
        <div class="hidden md:flex space-x-8 items-center">
          <a routerLink="home" class="nav-link">HOME</a>
          <a routerLink="about" routerLinkActive="active" class="nav-link">ABOUT</a>      
            <a class="nav-link dropdown-toggle" routerLink="mycourses" role="button" data-bs-toggle="dropdown" >
              myCourses
            </a>
          <a routerLink="contact" class="nav-link">CONTACT</a>
          <a routerLink="courses" class="nav-link">ADMIN</a>
          <h2  class="dates" style="color: brown; font-style: italic; float: left;">{{currentDate | date}}</h2>
        </div>
  
        <!-- Mobile Menu Button -->
        <div class="-mr-2 flex items-center md:hidden">
          <button (click)="toggleMenu()" type="button"
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-500 hover:text-indigo-600 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-indigo-600">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <!-- Mobile Menu -->
    <div *ngIf="isMenuOpen" class="md:hidden bg-white shadow-md">
      <div class="pt-2 pb-3 space-y-1">
        <a href="#" class="block pl-3 pr-4 py-2 text-base font-medium text-gray-700 hover:bg-indigo-50 hover:text-indigo-600">
          Home
        </a>
        <a routerLink="courses" class="block pl-3 pr-4 py-2 text-base font-medium text-gray-700 hover:bg-indigo-50 hover:text-indigo-600">
          Admin
        </a>
        <a routerLink="mycourses" class="block pl-3 pr-4 py-2 text-base font-medium text-gray-700 hover:bg-indigo-50 hover:text-indigo-600">
          MyCourses
        </a>
        <a routerLink="contact" class="block pl-3 pr-4 py-2 text-base font-medium text-gray-700 hover:bg-indigo-50 hover:text-indigo-600">
          Contact
        </a>
      </div>
    </div>
  </nav>


 

  
  
  
  

  