<!-- <h2>Enrolled Courses</h2>

<div *ngFor="let course of courses">
  <h3>{{ course.name }}</h3>
  <button (click)="playVideo(course.id, course.videoUrl)">Play Video</button>
</div>

<!-- <video #videoPlayer controls (timeupdate)="updateProgress(videoPlayer)"> -->
  <!-- <video>
  <source [src]="currentVideoUrl" type="video/mp4">
  Your browser does not support the video tag.
</video>  -->

<!-- <p>Progress: {{ progressPercentage | number:'1.0-2' }}%</p> -->
<progress [value]="progressPercentage" max="100"></progress>
